@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden;
    font-size: 15px;
}

body {
    @apply !min-w-full;
}

html,
header {
    margin-right: calc(100% - 100vw);
}

/* https://ui.shadcn.com/themes */
@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 5 51% 53%;
        --primary-foreground: 7 57% 97%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 5.9% 10%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    h1 {
        @apply font-bold text-3xl leading-none;
    }

    h2 {
        @apply font-medium text-2xl;
    }
}

/* container */
.container {
    @apply px-[1rem] xs:px-[2rem];
}

/*sprites*/
.sprite {
    stroke-width: 1.75;
}

.sprite-sm {
    width: 18px;
    height: 18px;
}

.sprite-md {
    width: 20px;
    height: 20px;
}

.sprite-lg {
    width: 22px;
    height: 22px;
}

/* form */
.disabled {
    opacity: 0.5;
    pointer-events: none;
}

/*react rating*/
.rr--svg {
    padding: 0 !important;
    margin-right: 1.5px;
    transition-duration: 150ms;
}

.rr--box {
    margin-right: 2px;
}

/* remove ugly outline when review stars are focused */
.rr--focus-reset {
    outline: none !important;
}

/* underline animation on link */
.link-underline-hover {
    display: inline-block;
    padding-bottom: 0px;
    background-image: linear-gradient(hsl(var(--primary)) 0 0);
    background-position: 0 100%;
    background-size: 0% 1.5px;
    background-repeat: no-repeat;
    transition: background-size 0.3s, background-position 0s 0.3s;
}

.link-underline-hover:hover {
    background-position: 100% 100%;
    background-size: 100% 1.5px;
}
